nuxeo.db.type=postgresql
nuxeo.db.host={{ postgres_container_name }}
nuxeo.db.port={{ postgres_port }}
nuxeo.db.name={{ postgres_db }}
nuxeo.db.user={{ postgres_user }}
nuxeo.db.password={{ postgres_password }}
nuxeo.server.http=0.0.0.0:8080